.main{

    height: 500px;
    border: 1px solid black;
}
.content {

    
}
.content__displaynone{

    display: none;
}
.content__displayinline{

    display: inline
}
.brief{

    border-bottom: 1px solid gray;
    height: 70px;
    padding: 5px;
}