.main{

    height: 500px;
    border: 1px solid black;
}
.content {

    height: 90%;
    overflow-x: hidden;
    overflow-y:scroll;
    padding-left: 10px;
}
.content__displaynone{

    display: none;
}
.content__displayinline{

    display: inline
}
.brief{

    border-bottom: 1px solid lightgrey;
    height: 70px;
    padding: 5px;
}
::-webkit-scrollbar {
    width: 10px;  /* remove scrollbar space */
    background:transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background:grey;
}