.header{
    background-color:#B1B2B7;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center

}
.footer{
    display: flex;
    justify-content: flex-end;
    width: 91%;
    position:absolute;
    bottom:3px; 
}
.footer__image{

    height: 30px;
    width: 30px;
    
}
.control__displaynone{

    display: none;
}
.control__displayinline{

    display: inline
}